* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  color: #333;
}

html,
body,
#root {
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-header {
  color: #949796;
  padding: 0px 20px;
  text-align: center;
  height: 58px;
  width: 100%;
  max-width: 1160px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  height: calc(100vh - 112px);
  overflow-y: auto;
  background-color: #f6f7f7;
}

::-webkit-scrollbar {
  width: 0;
}
